<div *ngIf="isLoading">
  <p>Cargando los detalles de la noticia...</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="!isLoading && news; else loading" class="story-detail">
        <h2>{{ news.title }}</h2>
        <p><strong>Publicado por:</strong> {{ news.source.name }}</p>
        <p><strong>Fecha:</strong> {{ news.publishedAt | date }}</p>

        <!-- Imagen de la noticia (si existe) -->
        <div *ngIf="news.urlToImage">
          <img [src]="news.urlToImage" alt="{{ news.title }}" class="story-detail__img" />
        </div>

        <div class="content">
          <p>{{ news.description }}</p>
        </div>

        <!-- Botones de traducción -->
        <div class="buttons">
          <button (click)="translateNews()" [disabled]="isTranslating || news.isTranslated">
            <img src="images/spain.png" alt="" style="height: 30px;">
          </button>
          <button (click)="toggleTranslation()">
            <img src="images/united-kingdom.png" alt="" style="height: 30px;">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>No se encontró la noticia.</p>
</ng-template>