<div class="container">
  <div class="row">
    <div class="col-7">
      <img src="" alt="">
      <a href=""></a>
    </div>
    <div class="col-5">
      <div *ngIf="!isLoading && topStories.length > 0" class="top-stories">
        <h2 class="md-title pb-2">Más leídas</h2>

        <ol>
          <li *ngFor="let story of topStories | slice: 0:5" class="top-stories__item">
            <a [routerLink]="['/news', story.title | slugify]" class="ft-title">{{ story.title }}</a>
            <p class="ft-author mt-4">{{ story.source.name}}</p>
          </li>
        </ol>

      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && topStories.length === 0">
  <p>No se encontraron noticias.</p>
</div>