<div class="container">
  <div class="row">
    <!-- Noticia principal -->
    <div class="col-7" *ngIf="!isLoading && topStories.length > 0">
      <img [src]="topStories[0].urlToImage" alt="{{ topStories[0].title }}" class="story-detail__img mb-4" />
      <!-- Link mantiene la URL original -->
      <a [routerLink]="['/news', originalTopStories[0].title | slugify]" class="large-title main-story-title">
        {{ topStories[0].title }}
      </a>
      <p class="main-story-description">{{ topStories[0].description }}</p>
      <p class="author">{{ topStories[0].author }}</p>
      <button (click)="translateStory(topStories[0], 0)" [disabled]="isTranslating || topStories[0].isTranslated">
        Translate
      </button>
      <button (click)="toggleTranslation(topStories[0], 0)">
        {{ topStories[0].isTranslated ? 'Show Original' : 'Show Translated' }}
      </button>
    </div>

    <!-- Noticias más leídas -->
    <div class="col-5">
      <div *ngIf="!isLoading && topStories.length > 1" class="top-stories">
        <h2 class="md-title pb-2">
          {{ translatedHeader || originalHeader }}
        </h2>
    
        <ol>
          <li *ngFor="let story of topStories.slice(1, 6); let i = index" class="top-stories__item">
            <!-- Link mantiene la URL original usando originalTopStories -->
            <a [routerLink]="['/news', originalTopStories[i + 1].title | slugify]" class="small-title">
              {{ story.title }}
            </a>
            <p class="author mt-4">{{ story.source.name }}</p>
            <div class="buttons">
            <button (click)="translateStory(story, i + 1)" [disabled]="isTranslating || story.isTranslated">
              <img src="images/spain.png" alt="" style="height: 30px;">
            </button>
            <button (click)="toggleTranslation(story, i + 1)">
              <img src="images/united-kingdom.png" alt="" style="height: 30px;">
            </button>
          </div>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <!-- Sin noticias -->
  <div *ngIf="!isLoading && topStories.length === 0">
    <p>No se encontraron noticias.</p>
  </div>
</div>
